main {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
}

input {
    margin-right: 20px;
}

.todo {
    display: flex;
    gap: 30px;
}

.todo--done {
    text-decoration: line-through;
}

.form-control input,
.form-control span {
    display: block;
}

.form-control span {
    color: red;
}

form {
    display: flex;
    gap: 20px;
}

.modal {
    height: 300px;
    width: 300px;
    background-color: yellow;
    z-index: 2;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
}
