main {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
}

input {
    margin-right: 20px;
}

.todo {
    display: flex;
    gap: 30px;
}

.todo__text--done {
    text-decoration: line-through;
}

.form-control input,
.form-control span {
    display: block;
}

.form-control span {
    color: red;
}

form {
    display: flex;
    gap: 20px;
}

.edit-form {
    padding: 50px;
}
